
@import "@repo/core/theme.css";
@source "../node_modules/@repo/core/lib/**/*.{js}";
@source "../node_modules/@repo/typography/lib/**/*.{js}";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-background;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
