@import "tailwindcss";
@import "tw-animate-css";

@source "../**/*.{ts,tsx}";

@theme {
  --radius: 0.625rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* --spacing-hairline: hairlineWidth(); */
}
